karni_testing/
.etl_start.py.swo
.report_search.py.swo
.report_wip.py.swm
.report_wip.py.swo
.report_wip.py.swp
.trh_scraper.py.swp
Pipfile
chromedriver
config/cfg.py.save
config/cfg.py.save.1
config/cfg_copy.py
etl_start.pyc
etl_start0812.py
etl_start_bkp.py
exclude_list/
log/
nicecorsent.xlsx
nohup.out
pef_processingtime.xlsx
processingtime_report.xlsx
report_0401/
report_cancellation.xlsx
report_cancellation_history.xlsx
report_cipo_cancellation.html
report_cipo_opposition.html
report_cipo_processing.html
report_cipo_prosecution.html
report_default_searched.xlsx
report_history_action_code.xlsx
report_opposition.xlsx
report_opposition_history.xlsx
report_processing_history.xlsx
report_prosecution_history.xlsx
report_search.pyc
report_search_bak.py
report_search_bak2.py
report_searched.xlsx
report_trademark.py
reportsreport_cipo_processing.html
reportsreport_processing_history.xlsx
reportsreport_prosecution_history.xlsx
routines/send_mail_testing.py
section44p1.xlsx
source/
todelete.py
wipo_unrepresented.xlsx
xreport1.py
xreport_blacklist.py
xreport_check.py
xtrh_scraper.py
config/cfg_*
reports/logs
git_push_logs/
